*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 1600px;
}
a{
    text-decoration: none;
}

header{
    margin: 20px 60px;
    width: 910px;
    margin-left: 220px;
    margin-right: 220px;
}

header img{
    float: left;
}

header .icon{
    margin-left: 12px;
}
header .icon #s3{
    color: #cc4189;
}
header .icon #s6{
    color: #2a9aba;
}

header .icon #s0{
    color: #cd7c29;
}

header div{
    float: left;
}

header div .polo{
    font-family:'Gill Sans MT', Calibri;
    font-size: 48px;
    font-weight: bold;
}

header div .sub{
    font-family: 'Gill Sans MT', Calibri;
    font-size: 13.74px;
    font-weight: bold;
    text-transform: uppercase;
}

header ul{
    list-style-type: none ;
    display: block;
    margin-left: 343px;
}

header ul li{
    display: inline-block;
    margin-left: 32px;
    margin-top: 20px;
}

header ul li a{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.black-background{
    background-color: black;
    margin-top: 75px;
    position: relative;
    width: 100%;
    height: 336px;
}

.slider{
    display: block;
    position: absolute;
    top: 22px;
    left: 210px;
    border-bottom: 1px solid rgb(211, 186, 186);
}
main{
    margin-top: 50px;
    width: 930px;
    margin-left: 210px;
}
main hr{
    height: 1px;
    color: #e5e5e5;
    margin-top: 24px;
    width: 868px;
    margin-left: 30px;
}
main hr{
    height: 1px;
    color: #e5e5e5;
    margin-top: 35px;
    margin-bottom: 40px;
    width: 868px;
    margin-left: 30px;
}
main h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.section-top{
    margin-top: 35px;
    overflow: hidden;
}

.section-top article{
    width: 298px;
    float:left;
    margin-right: 12px;
}

.section-top article img{
    margin-top: 20px;
    padding: 6px;
    border: 1px solid #c8c3c3;
}

.section-top article h3{
    color: #5e94b4;
}

.section-top article .text-top {
    font-family: Arial, Helvetica, sans-serif;
    color: #cecece;
}
.section-top article .text{
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-top article .total-info{
    color: #769eb9;
    margin-top: 20px;
    width: 160px;
    padding: 5px 0px 5px 5px;
    background-color: #f4f4f4;
    border: 1px solid #d8d8d8;
}

.section-bot{
    margin-top: 70px;
    overflow: hidden;
}

.section-bot article{
    width: 298px;
    float:left;
    margin-right: 12px;
}
.section-bot h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #858585;
}

.section-bot article hr{
    height: 1px;
    color: #e5e5e5;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 260px;
    margin-left: 0px;
    
}

.section-bot .article1 ul li{
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 45px;
}
.section-bot .article1 .new-letter{
    font-family:'Gill Sans MT', Calibri;
    font-weight: bold;
    margin-bottom: 20px;
}
.section-bot .article1 input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 250px;
}

.section-bot .article1 .button-blue{
    color: #ffffff;
    width: 160px;
    padding: 5px 0px 4px 5px;
    background-color: #3e6d99;
}

/* article1 */

.section-bot .article2 .input-small{
    width: 250px;
    height: 30px;
    margin-bottom: 17px;
}

.section-bot .article2 .input-big{
    width: 250px;
    height: 157px;
}

.section-bot .article2 .button-blue{
    color: #ffffff;
    width: 160px;
    padding: 5px 0px 5px 5px;
    background-color: #3e6d99;
    margin-top: 11px;
}

/* article2 */
.section-bot .article3{
    overflow: hidden;
}
.section-bot .article3 img{
    float: left;
    margin: 3px;
    margin-right: 7px;
    padding: 3px;
    border: 1px solid #c8c3c3;

}

.section-bot .article3 div{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 55px;
}

.section-bot .article3 .button-blue{
    color: #ffffff;
    width: 160px;
    padding: 5px 0px 5px 5px;
    background-color: #3e6d99;
    margin-top: 15px;
}

/* article3 */
/* section */

footer{
    height: 160px;
    width: 100%;
    background-color: black;
    margin-top: 20px;
    position: relative;
    z-index: 0;
}
footer p{   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #ffffff;
    top: 50px;
    left: 600px;
    position: absolute;
}

